<div class="container">

  <div class="content-header">
    <div class="layout">
        <div class="sideheader">
            <span class="sideheader">NARRATION</span>
            <span class="icon">
              <img src="../../assets/info.png">
            </span>
        </div>
        <div class="toggle">
          <div class="btn-container">

            <label class="switch btn-color-mode-switch">
                  <input value="1" id="color_mode" name="color_mode" type="checkbox">
                  <label class="btn-color-mode-switch-inner" data-off="All Narration" data-on="Daywise Narration" for="color_mode"></label>
              </label>

        </div>
        </div>
    </div>
  </div>

  <div class="content-mainHeader">
      <div class="dropdown-content">
        <app-custom-dropdown></app-custom-dropdown>
      </div>
  </div>

</div>
